/* reset css */
*{ 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
 }
 ol, ul {
  list-style: none;
}
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
/* apppp */
.name-component{
  margin: 40px 0;
  text-align: center;

}
.footer{
  margin:30px auto;
  font-size: 12px;
}
.body-home
{
  /* border: 1px solid red; */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.body-mid
{
  /* border: 1px solid red; */
  font-size: 12px;
  background-color: #f5f5f5;
}
.container-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 20px;
}
.container-btn:hover{
  opacity: 0.8;
  
}
.result
{
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid rgb(172, 158, 158);
  width: 90%;
  margin: 0 auto;
}
.list {
  width: 100%;
}
.list-item{
  display: flex;
  width: 100%;
  border: 1px solid #b5b5b5;
  padding: 10px 0px;
  border-radius: 10px;
  
}
.title_list{
  margin: 10px 0;
  padding: 10px;
  color: #ad3718;
  background-color: #fae5e5;
  font-size: 13px;

}
.item{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

/* itemIndex */
.itemIndex{
  border-radius: 6px;
  padding: 5px 10px;
  /* border: 1px solid red; */
  background-color: #94c266;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  width: 120px;
  margin-top:10px;
}
/* imgTopTower */
.pyramid{
  width: 100%;
}
.imgTopTower{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.chiso{
  font-size: 12px;
}
.infoChiso1{
  position: absolute;
  top: 42%;
  left: 35%;
}
.infoChiso2{
  position: absolute;
  top: 38%;
  left: 58%;
}
.infoChiso3{
  position: absolute;
  top: 22%;
  left: 40%;
}
.infoChiso4{
  position: absolute;
  top:8%;
  left: 53%;
}
